attr==0.3.2
BeautifulSoup==3.2.2
brotli==1.1.0
brotlicffi==1.1.0.0
cchardet==2.1.7
cffi==1.16.0
chardet==5.2.0
ConfigParser==7.1.0
contextlib2==21.6.0
cryptography==43.0.1
defusedxml==0.7.1
disco==1.40.4
docutils==0.21.2
filelock==3.16.0
h2==4.1.0
html5lib==1.1
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.1.5
jnius==1.1.0
js==1.0
keyring==25.3.0
lxml_html_clean==0.2.2
matplotlib==3.9.2
mock==5.1.0
numpy==2.1.1
olefile==0.47
pandas==2.2.2
pyodide==0.0.2
pyOpenSSL==24.2.1
PyQt6==6.7.1
PySide6==6.7.2
pytest==8.3.2
redis==5.0.8
setuptools_scm==8.1.0
simplejson==3.19.3
slack_sdk==3.32.0
Sphinx==8.0.2
tensorflow==2.17.0
thread==2.0.5
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
zstandard==0.23.0
